# Ignore everything in the root directory
*
# Except:
!.gitignore
!README.md
!LICENSE
!wp-content/

# Ignore everything in wp-content
wp-content/*
# Except:
!wp-content/plugins/

# Ignore everything in wp-content/plugins
wp-content/plugins/*
# Except:
!wp-content/plugins/toggle/
!wp-content/plugins/toggle-count/
