# Ignore everything in the root directory
*
# Except:
!.gitignore
!.wp-env.json
!README.md
!LICENSE
!post-content.html

# Keep these plugins
!wp-content/plugins/toggle/**/*
!wp-content/plugins/toggle-count/**/*
!wp-content/plugins/test/**/*
